/* Style images */
img {
	height: auto;
	width: 50%;
}

/* Style the header 1 */
h1{
	font-size:40px;
	margin: 0;
}

/* Style the header 1 */
h2{
	font-size:20px;
	margin: 0;
}

/* Style the navigation menu */
.navbar {
	width: 100%;
  	overflow: auto;
  	font-weight: bold;
}

/* Navigation links */
.navbar a {
  float: left;
  text-decoration: none;
  font-size: 17px;
  width: 16.66%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}